.carousel {
    position: relative;
    width: 100%;
  }
  
  .image {
    max-width: 30rem;
    min-width: 30rem;
    max-height: 20rem;
    min-height: 20rem;
    height: auto;
    border-radius:8px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
    width: 2rem;
  }

  
  .controleur{
    width: 2rem;
  }
  
  .arrow:first-child {
    left: 1px;
  }
  
  .arrow:last-child {
    right: 1px;
  }
  