.bodyfirstpart {
    background-color: #282828;
    height: 50rem;
}

.VagueBot {
    rotate: 180deg;
}

.Game {
    /* max-width: 1440px; */
    z-index: -1;
    height: auto;
    /* position: absolute; */
    inset: 0;
}

.ImageDéco {
    position: relative;
    background-image: url("../../public/assets/Gamer.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    object-fit: cover;
    object-position: center;
    /* max-width: 1980px; */
    overflow: hidden;
}

.VagueTop {
    position: relative;
}

.VagueSurImage {
    max-width: 100%;
    min-width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
}

@media screen and (max-width: 1024px) {
    .bodyfirstpart {
        height: 50rem;
    }
}

@media screen and (max-width: 768px) {
    .VagueSurImage {
        height: 25rem;
    }
}
@media screen and (max-width: 596px) {  
    .bodyfirstpart {
        height: 55rem;
    }
}

@media screen and (max-width: 426px) {
    .bodyfirstpart {
        height: 72rem;
    }
    .Game {
        margin-top: 2rem;
        width: 40rem;
        height: 28rem;
        max-width: none;
        z-index: -1;
        height: auto;
        position: absolute;
    }
    .ImageDéco {
        position: relative;
        overflow: hidden;
    }
    .VagueSurImage{
        height: 22rem;
    }
}


@media screen and (max-width: 320px) {
    .bodyfirstpart {
        height: 72rem;
    }
    .Game {
        margin-top: 2rem;
        width: 40rem;
        height: 28rem;
        max-width: none;
        z-index: -1;
        height: auto;
        position: absolute;
    }
    .ImageDéco {
        position: relative;
        overflow: hidden;
    }
    .VagueSurImage{
        height: 18rem;
    }
}

