.bodyfirstpart{
    background-color: #282828;
    height: 65rem;
}

.VagueBot{
    rotate: 180deg;
}

.Game{
    max-width: 100%;
    z-index: -1;
    height: auto;
    position: absolute;
}

.ImageDéco{
    position: relative;

}

.VagueTop{
position: relative;
}

.VagueSurImage{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
}


@media screen and (max-width: 1024px) {
    .bodyfirstpart{
        height: 50rem;
    }
  }

@media screen and (max-width: 768px){
    .VagueSurImage{
        height: 25rem;
    }
}  