a {
    text-decoration: none;
    color: #646464;
}

.Signature {
    margin: 3rem;
}

.Footer {
    color: #646464;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.FooterImg {
    display: flex;
    justify-content: center;
    color: #646464;
}

.imgfooter {
    /* margin: rem; */
    width: 40px;
    height: 40px;
    padding: 10px;
}

.Icons8 {
    font-size: large;
}
.Icons9 {
    font-size: medium;
}

.Endbalise {
    color: #646464;
}

.imgfooterdiscord {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.discordtruc {
    position: relative;
}
.discordtruc:after {
    content: "sebras_";
    opacity: 0;
    position: absolute;
    color: white;
    padding: 2px;
    padding-left: 12px;
    bottom: 92%;
    position: absolute;
    cursor: default;
    font-size: small;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all ease-in-out 0.5s;
}
.discordtruc:hover:after {
    opacity: 1;
}
