.modalContainer {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.152);
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;

    z-index: 1;
}

.modal {
    background-color: #282828;
    color: white;
    padding: 15px;
    z-index: 10;
    border-radius: 5px;
    max-width: 30rem;
    min-width: 30rem;
    max-height: 40rem;
    min-height: 40rem;
}

.modalContainer.inactive {
    display: none;
}

.clickoutside {
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.ModalInfo {
    height: 17rem;
}

.ModalDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.Techno {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1025px) {
    .modalContainer {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.152);
        backdrop-filter: blur(5px);
        display: grid;
        place-items: center;
        z-index: 4;
    }

    .modal {
        background-color: #282828;
        color: white;
        padding: 15px;
        z-index: 2;
        position: absolute;
        border-radius: 5px;
        max-width: 20rem;
        min-width: 20rem;
        max-height: 30rem;
        min-height: 30rem;
    }

    .modalContainer.inactive {
        display: none;
    }

    .clickoutside {
        position: absolute;
        inset: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    .ModalInfo {
        height: 17rem;
    }

    .ModalDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        font-size: 13px;
    }

    .Techno {
        display: flex;
        justify-content: center;
    }
    .technoimage {
        width: 2rem;
    }
}

@media screen and (max-width: 426px) {

    .modalContainer {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.152);
        backdrop-filter: blur(5px);
        display: grid;
        place-items: center;
        z-index: 10;
    }

    .modal {
        background-color: #282828;
        color: white;
        padding: 15px;
        z-index: 10;
        position: absolute;
        border-radius: 5px;
        max-width: 20rem;
        min-width: 20rem;
        max-height: 20rem;
        min-height: 20rem;
    }

    .modalContainer.inactive {
        display: none;
    }

    .clickoutside {
        position: absolute;
        inset: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    .ModalInfo {
        height: 8rem;
    }

    .ModalDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        font-size: 13px;
    }

    .Techno {
        display: flex;
        justify-content: center;
    }
    .technoimage {
        width: 2rem;
    }
}
