.Présentation {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.blob {
    max-width: 1024px;
    width: 55%;
    position: absolute;
    z-index: 1;
}

.IconPres {
    padding: 3px;
    border-radius: 5px;
    /* color: linear-gradient(140deg, #4993d7, #6931c5); */
    color: white;

    width: 2rem;
}

.Pres {
    z-index: 2;
    margin-top: 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6%;
    max-width: 950px;
}

.ZoneText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.PresArrangement {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2%;
    margin: 2rem;
}

.PresTitre {
    font-size: x-large;
    color: #4993d7;
    padding-bottom: 2%;
}

.PresText {
    font-size: 13px;
    color: white;
    font-weight: 100;
}

@media screen and (max-width: 1440px) {
    .blob {
        width: 1300px;
    }
    .Pres {
        z-index: 2;
        margin-top: 5%;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6%;
    }
}

@media screen and (max-width: 1025px) {
    .blob {
        display: none;
    }
    .Pres {
        z-index: 2;
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .IconePres {
        background: linear-gradient(140deg, #4993d7, #6931c5);
        padding: 3px;
        border-radius: 5px;
        width: 2rem;
    }

    .PresTitre {
        font-size: x-large;
        color: #4993d7;
        padding-bottom: 2%;
    }

    .PresText {
        /* text-align: justify; */
        font-size: medium;
        color: white;
        font-weight: 100;
    }

    .PresArrangement {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 1.5rem;
    }
}


@media screen and (max-width: 870px) {  
    .Présentation {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    position: relative;
}
}

@media screen and (max-width: 768px) {
    .Présentation {
        margin-top: 13rem;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .blob {
        max-width: 95%;
        max-height: 80rem;
    }
    .Pres {
        z-index: 2;
        width: 75%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .IconePres {
        background: linear-gradient(140deg, #4993d7, #6931c5);
        padding: 3px;
        border-radius: 5px;
        color: white;
        width: 1.5rem;
    }

    .PresTitre {
        font-size: larger;
        color: #4993d7;
        padding-bottom: 2%;
    }

    .PresText {
        /* text-align: justify; */
        font-size: small;
        color: white;
        font-weight: 100;
    }

    .PresArrangement {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 1.25rem;
    }
}

@media screen and (max-width: 605px) {
    .Présentation {
        margin-top: 10rem;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .blob {
        display: none;
    }
    .Pres {
        z-index: 2;
        width: 75%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .IconePres {
        background: linear-gradient(140deg, #4993d7, #6931c5);
        padding: 3px;
        border-radius: 5px;
        color: white;
        width: 1.5rem;
    }

    .PresTitre {
        font-size: larger;
        color: #4993d7;
        padding-bottom: 2%;
    }

    .PresText {
        /* text-align: justify; */
        font-size: small;
        color: white;
        font-weight: 100;
    }

    .PresArrangement {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 1.25rem;
    }
}
@media screen and (max-width: 596px) {  
    .Présentation {
    margin-top:15rem;
    display: flex;
    justify-content: center;
    position: relative;
}
}
@media screen and (max-width: 426px) {
    .Présentation {
        margin-top: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .blob {
        display: none;
    }
    .Pres {
        z-index: 0;
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .IconePres {
        background: linear-gradient(140deg, #4993d7, #6931c5);
        padding: 3px;
        border-radius: 5px;
        width: 1.5rem;
    }

    .PresTitre {
        font-size: larger;
        color: #4993d7;
        padding-bottom: 2%;
    }

    .PresText {
        /* text-align: justify; */
        font-size: small;
        color: white;
        font-weight: 100;
        width: 20rem;
    }

    .PresArrangement {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .PresText{
        width: 16rem;
    }
}
