.ThirdPart{
    background-color: #282828;
    z-index: 1;
}

.TitreThirdPart{
    color: #4993d7;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.ArrangementProjects{
    display: flex;
    justify-content: center;
}

.Projects{
    columns: 2;
}

.CardProjects{
    position: relative;
    width: 35rem;
    height: auto;
    text-align: center;
    padding: 2rem;
    
}

.imgProject{
    max-width: 100%;
    height: auto;
    z-index: 0;
    border-radius: 5px;
}

.InfoProjects{
    opacity: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    background-color: #28282850;
    gap: 4rem;
    width: 92%;
    height: 87%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 0.5s; 
    cursor: default;

}

.InfoProjects:hover{
    opacity: 1;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    gap: 4rem;
    background-color: #28282880;
    width: 92%;
    height: 87%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TitreProjects{
    color: #4993d7;
    font-size: x-large;
}

@media screen and (max-width: 1024px) {
    .CardProjects{
        position: relative;
        width: 25rem;
        height: auto;
        text-align: center;
        padding: 2rem;
    }
    .InfoProjects{
        opacity: 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-evenly;
        background-color: #ff0000d7;
        gap: 1rem;
        width: 86%;
        height: 78%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all ease-in-out 0.5s; 
        cursor: default;
    
    }
    .InfoProjects:hover{
        opacity: 1;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-evenly;
        gap: 1rem;
        background-color: #f11919bb;
        width: 86%;
        height: 78%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }